.td {
  margin-right: 2rem;
  margin-top: 2rem;
  display: block;
}

.tr {
  margin-right: 2rem;
  margin: 0 auto;
}

.link {
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
  background-color: rgb(192, 104, 104);
}
